/* Centraliza o formulário verticalmente e horizontalmente */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura total da tela */
  margin: 0;
  background-color: #fafafafa; /* Fundo da página */
  font-family: Arial, sans-serif; /* Fonte padrão */
}

/* Estilo do formulário */
.form-container {
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
  color: #2e2e2e;
}

/* Estilo do título */
.form-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #000;
}

/* Estilo das labels */
.form-container label {
  display: block;
  margin: 1px 0px 0px;
  font-weight: bold;
}

/* Estilo dos inputs e textarea */
.form-container input,
.form-container textarea {
  width: 90%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #eee;
  color: #000; /* Define o texto como preto */
  font-size: 14px;
}

/* Contêiner dos botões */
.button-container {
  display: flex;
  justify-content: space-between;
}

/* Estilo dos botões */
.button-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-container .submit-button {
  background-color: #4a90e2;
  color: white;
}

.button-container button:first-of-type {
  background-color: #666;
  color: white;
}
